/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

// router-outlet ~ * {
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }



.date-info {
    font-size: 0.60rem;
    font-style: italic;
}

.button {
    &.is-danger {
        background-color: #f00 !important;
    }

    &.is-success {
        background-color: #079c3b!important;
    }
}
