<nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">

            <a class="navbar-item is-size-4 has-text-weight-bold" routerLink="/">
                Time Tracker
            </a>

            <a class="navbar-burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu has-background-dark">
            <div class="navbar-end">
                <a routerLink="/timecards" class="navbar-item has-text-light">Time Cards</a>
                <a routerLink="/projects" class="navbar-item has-text-light">Projects</a>
                <a routerLink="/clients" class="navbar-item has-text-light">Clients</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="column" [@slideAnimation]="o.isActivated ? o.activatedRoute : ''">
        <main>
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </div>
</div>

 
