<div class="container">
	<div class="column">
		<div class="columns is-mobile">
			<div class="column is-6">
				<h2 class="title is-3 has-text-white">
					Time Cards
				</h2>
			</div>
			<div class="column is-6">
				<button class="button is-success is-pulled-right" type="button" (click)="addTimeCard()">
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</div>
	</div>

	<app-modal [title]="'Add/Edit Time Card'" [show]="show">
		<div class="field is-grouped">
			<div class="control">
				<label for="week" class="label">Select Week</label>
				<div class="select is-info">
					<select
						name="week"
						id="week"
						class="select"
						(change)="setCurrentWeek($event.target.value)"
					>
						<option [value]="-1">Select...</option>
						<option *ngFor="let weekNum of recentWeekNumbers" [value]="weekNum">
							{{ weekNum }}
						</option>
					</select>
				</div>
			</div>
			<div class="control is-flex">
				<button class="button" style="align-self:flex-end" (click)="setCurrentWeek()">
					Current Week
				</button>
			</div>
		</div>
		<!-- <app-project-form [project]="currentProject" (close)="closeModal($event)"></app-project-form> -->
	</app-modal>
</div>
