<div class="container">
	<div class="column">
		<div class="columns is-mobile">
			<div class="column is-6">
				<h2 class="title is-3 has-text-white-ter">Clients</h2>
			</div>
			<div class="column is-6">
				<button
					type="button"
					title="Add Client"
					class="button is-success is-pulled-right"
					(click)="addClient()"
				>
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</div>
	</div>

	<app-modal [title]="'Add/Edit Client'" [show]="show">
		<app-clients-form [client]="currentClient" (close)="closeModal($event)"></app-clients-form>
	</app-modal>

	<div class="column is-fullwidth">
		<table class="table is-mobile has-background-dark has-text-white">
			<thead>
				<tr>
					<th class="has-text-white">Client</th>
					<th class="has-text-white">Created</th>
					<th class="has-text-white">Modified</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let client of clients">
					<td data-label="Client">
						<button
							type="button"
							class="button is-dark has-text-weight-bold"
							title="Edit Client"
							(click)="editClient(client)"
						>
							{{ client.name }}
						</button>
					</td>
					<td data-label="Created">{{ client.created | date: 'short' }}</td>
					<td data-label="Modified">{{ client.modified | date: 'short' }}</td>
					<td data-label="Actions">
						<button
							type="button"
							class="button is-danger"
							title="Delete Client"
							[disabled]="client?.canDelete === undefined ? client.canDelete : true"
							(click)="deleteClient(client)"
						>
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="column">
		<app-pager
			[items]="clients"
			[currentPage]="currentPage"
			[total]="total"
			[pageSize]="pageSize"
			(prev)="previous($event)"
			(next)="next($event)"
		></app-pager>
	</div>
</div>
