<div class="container">
  <div class="column">
    <div class="columns is-mobile">
      <div class="column is-6">
        <h2 class="title is-3 has-text-white-ter">Projects</h2>
      </div>
      <div class="column is-6">
        <button type="button" class="button is-success is-pulled-right" (click)="addProject()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>


  <div class="column content-height">
    <div class="columns is-mobile header-row">
      <div class="column is-3">Project Name</div>
      <div class="column is-3">Created</div>
      <div class="column is-3">Modified</div>
      <div class="column is-3">Actions</div>
    </div>
    <ng-container *ngFor="let project of projects; index as i">
      <div class="columns is-mobile">
        <div class="column">
          {{ project.name }}
        </div>
        <div class="column">
          {{ project.created | date:'MM/dd/yyyy'}}
        </div>
        <div class="column">
          {{ project.modified | date:'MM/dd/yyyy'}}
        </div>
        <div class="column">
          <div class="buttons has-addons is-pulled-right is-mobile is-hidden-tablet">
            <button type="button" class="button is-link is-small" title="Edit Client" (click)="editProject(project)">
              <i class="far fa-edit"></i>
            </button>
            <button type="button" class="button is-danger is-small" title="Delete Client" (click)="deleteProject(i, project)">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
          <div class="buttons is-pulled-right is-tablet is-hidden-mobile">
            <button type="button" class="button is-link" title="Edit Client" (click)="editProject(project)">
              <i class="far fa-edit"></i>
            </button>
            <button type="button" class="button is-danger" title="Delete Client" (click)="deleteProject(i, project)">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- <div class="column">
    <div class="columns is-mobile is-desktop" *ngFor="let project of projects; index as i">
      <div class="column is-6" style="align-items: center;">
        <span *ngIf="i === editIndex; else noEdit">
          <div class="field">
            <div class="control">
              <input id="projectName" class="input is-info" 
                      appAutofocus 
                      type="text" 
                      [value]="project.name"
                      (input)="project.name = $event.target.value" placeholder="Project Name" required />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" class="input"
                    [value]="project?.projectCode"
                    (input)="project.projectCode = $event.target.value" placeholder="Project Code ">   
            </div>
          </div>
          <div class="field">
            <div class="control">
              <div class="select">
                <select (change)="project.clientId = $event.target.value" [value]="project.clientId">
                  <option value="">Select...</option>
                  <option *ngFor="let client of clients" [value]="client._id">{{ client.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </span>

        <ng-template #noEdit>
          <div>
            {{ project.name }} <span *ngIf="project.clientId"> - {{ getProjectName(project.clientId) }} </span>
          </div>
        </ng-template>

        <div class="date-info" *ngIf="project._id">
          Created: {{ project.created | date:'MM/dd/yyyy' }} | Modified: {{ project.modified | date:'MM/dd/yyyy'}}
        </div>
      </div> -->

      <!-- <div *ngIf="i !== editIndex; else noEditBtn" class="column is-6">
        <div class="buttons is-pulled-right">
          <button type="button" class="button is-link" (click)="editProject(i, project)">Edit</button>
          <button type="button" class="button is-danger" (click)="deleteProject(i, project)">Delete</button>
        </div>
      </div>
      <ng-template #noEditBtn>
        <div class="column is-6">
          <div class="buttons is-pulled-right">
            <button type="button" class="button is-danger" (click)="cancelItem(i, project)">Cancel</button>
            <button type="button" class="button is-link" (click)="saveProject(i, project)">Save</button>
          </div>
        </div>
      </ng-template>

    </div>
  </div>-->
</div>