<div class="container">
	<div class="column">
		<div class="columns is-mobile">
			<div class="column is-6">
				<h2 class="title is-3 has-text-white-ter">Projects</h2>
			</div>
			<div class="column is-6">
				<button type="button" class="button is-success is-pulled-right" (click)="addProject()">
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</div>
	</div>

	<app-modal [title]="'Add/Edit Project'" [show]="show">
		<app-project-form [project]="currentProject" (close)="closeModal($event)"></app-project-form>
	</app-modal>

	<div class="column is-fullwidth">
		<table class="table is-mobile has-text-white">
			<thead>
				<tr class="has-background-dark">
					<th class="has-text-white">Project</th>
					<th class="has-text-white">Client</th>
					<th class="has-text-white">Created</th>
					<th class="has-text-white">Modified</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let project of projects" class="has-background-dark">
					<td data-label="Project">
						<button
							type="button"
							class="button is-dark has-text-weight-bold"
							title="Edit Project"
							(click)="editProject(project)"
						>
							{{ project.name }}
						</button>
					</td>
					<td data-label="Client">
						{{ project?.client?.name || 'No Client' }}
					</td>
					<td data-label="Created">
						{{ project.created | date: 'short' }}
					</td>
					<td data-label="Modified">{{ project.modified | date: 'short' }}</td>
					<td data-label="Actions">
						<button
							type="button"
							class="button is-danger"
							title="Delete Project"
							(click)="deleteProject(project)"
						>
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="column">
		<app-pager
			[items]="projects"
			[currentPage]="currentPage"
			[total]="total"
			[pageSize]="pageSize"
			(prev)="previous($event)"
			(next)="next($event)"
		></app-pager>
	</div>
</div>
