<div class="container">
	<div class="column">
		<div class="columns is-mobile">
			<div class="column is-6">
				<h2 class="title is-3 has-text-white-ter">Projects</h2>
			</div>
			<div class="column is-6">
				<button type="button" class="button is-success is-pulled-right" (click)="addProject()">
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</div>
	</div>

	<!-- <app-modal [title]="'Add/Edit Project'" [show]="show">
		<app-project-form
			[project]="project"
			(close)="onClose($event)"
		></app-project-form>
	</app-modal> -->

	<div class="column is-fullwidth">
		<table class="table is-mobile has-background-dark has-text-white">
			<thead>
				<tr>
					<th class="has-text-white">Project</th>
					<th class="has-text-white">Client</th>
					<th class="has-text-white">Created</th>
					<th class="has-text-white">Modified</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let project of projects">
					<td>
						<button type="button" class="button is-dark has-text-weight-bold" title="Edit Project">
							{{ project.name }}
						</button>
					</td>
					<td>
						{{ project?.client?.name || 'No Client' }}
					</td>
					<td>{{ project.created | date: 'short' }}</td>
					<td>{{ project.modified | date: 'short' }}</td>
					<td>
						<button type="button" class="button is-danger" title="Delete Project">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
